.courses-container{
    width: fit-content;
}

.courses-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
   
}

.courses-list > .course-item {
    flex: 0 0 49%; /* Ocupa el 50% del ancho para que solo quepan 2 por fila */
    box-sizing: border-box; /* Para que padding o border no afecten el cálculo */
}

.course-item {
    background-color:#f1f1f1;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 15rem;
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

.course-item button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    width: 60%;
    margin: 0 auto;
}