.encuesta-tab {
    padding: 1.1rem;
  }
  
.encuesta-tab h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
.encuesta-status {
    padding: 1.1rem;
    border-radius: 10px;
    text-align: center;
  }
  
.encuesta-status p {
    font-size: 1.1rem;
    margin-bottom: 1.1rem;
  }
  
.btn-success, .btn-danger {
    padding: .85rem 1.1rem;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
  }
  
.btn-success {
    background-color: #28a745;
}
  
.btn-danger {
    background-color: #dc3545;
}
  